{% extends 'base.html' %}

{% block title %}
    Project Pive - Database
{% endblock %}

{% block body %}
<div class="codedatabase">
    <div class="scroll">
    {% for key in data.keys() %}
        <h4> Tarix : {{ key }}</h4>
        {% for item in data[key] %}
            <ul class="list-group">
                {% for key, value in item.items() %}
                    <span class="sp1"> Masa {{ value['masa'] }} -  Cek Nomresi : {{ key }}</span>
                    {% for good, count in value.items() %}
                        {% if good == "total" %}
                            <li class="total list-group-item d-flex justify-content-between align-items-center">
                                {{ good.capitalize() }}
                                <span class="badge badge-primary badge-pill">{{ count }}</span>
                            </li>
                        {% elif good == "masa" %}
                            {{ pass }}
                        {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ good.capitalize() }}
                            <span class="badge badge-primary badge-pill">{{ count }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
</div>
</div>
{% endblock %}