{% extends 'base.html' %}

{% block title %}
    Project Pive - Database
{% endblock %}

{% block body %}
    {% for key in data.keys() %}
        <h4>{{ key }}</h4>
        {% for item in data[key] %}
            <ul class="list-group">
                {% for key, value in item.items() %}
                    <h5>{{ key }}</h5>
                    {% for good, count in value.items() %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ good.capitalize() }}
                        <span class="badge badge-primary badge-pill">{{ count }}</span>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}